<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>

<body>
  <div class="container">
    <%if(show){%>

    <a class="btn btn-dark btn-lg btn-block" href="/urls/new" role="button">Create new
      TinyURL</a>

    <table class="table">

      <thead>
        <th></th>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td>
            <form class="form-inline" action="/urls/<%=shortURL%>/?_method=PUT" method="POST">
              <div class="form-group mb-2">
                <strong>ShortURL: <%=shortURL%></strong>
                <input class="form-control" type="text" name="longURL" value=<%=longURL%>
                  style="width: 500px; margin: 1em">
                <button type="submit" class="btn btn-warning" style="width: 300px"><strong>Update</strong></button>
              </div>
            </form>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="alert alert-dark" role="alert" style="padding-top: 2%">

      <p class="text-center">
        <strong>Unique hits : <%=uniqueVisits%>&emsp;&emsp;&emsp;&emsp;</strong> <a href="/urls" class=" btn btn-dark">
          HomePage</a> &emsp;&emsp;&emsp;&emsp; <strong> Total hits : <%=visits%></strong>
      </p>

    </div>

    <table class="table table-dark thead-light">

      <thead>
        <tr class="text-center">
          <p>
            <th scope="col">#</th>
            <th scope="col">TimeStamp</th>
            <th scope="col">Visitor</th>
          </p>
        </tr>
      </thead>

      <tbody>

        <% var count = 0; %>
        <% for(var key in visitors) {%>

        <tr class="text-center">
          <td><%= count += 1 %></td>
          <td> <%=visitors[key]["timeStamp"]%></td>
          <td> <%=visitors[key]["userID"]%></td>
          <td> </td>
          <td> </td>
        </tr>

        <% }%>

      </tbody>

    </table>

    <%}%>
   
    <%if(!show && user){%>
    <div class="alert alert-danger" role="alert" style="padding-top: 2%">

      <h3>
        <p class="text-center">401: You are not authorized to access this page | Click on logo to go back</p>
      </h3>
    </div>

    <%}%>

    
    </div>

  </body>

</html>