<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>

<body>

  <div class="container">
      
<%if(userID){%>
  <a class="btn btn-dark btn-lg btn-block" href="/urls/new" role="button">Create new TinyURL</a>
    <table class="table">

      <thead>

        <tr class="text-center">

          <p>
            <th scope="col">#</th>
            <th scope="col">TinyURLs</th>
            <th scope="col"></th>
            <th scope="col"></th>
            
          </p>

        </tr>

      </thead>

      <tbody>

        <% var count = 0; %>
        <% for(var key in urls) {%>

        <tr class="text-center">

          <td><%= count += 1 %></td>
          <td><a href="/u/<%=key%>"><%=key%></a> : <%=urls[key]["longURL"]%></td>

          <td>
            <form method="GET" action="/urls/<%=key%>">
              
              <button type="submit" class="btn btn-dark btn-block">Edit</button>
            </form>
          </td>

          <td>
            <form method="POST" action="/urls/<%=key%>/?_method=DELETE">
              
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
          

        </tr>

        <% }%>

      </tbody>

    </table>
<%}%>
  </div>

</body>

</html>