<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_header.ejs %>
</head>

<body>

  <div class="container">
      <%if(!userID){%>
      <p class="btn btn-dark btn-lg btn-block"  >
        Login or register to create new TinyURL</p>
        <%}%>
<%if(userID){%>
  <a class="btn btn-dark btn-lg btn-block" href="/urls/new" role="button">Create new TinyURL</a>
    <table class="table">

      <thead>

        <tr class="text-center">

          <p>
            <th scope="col">TimeStamp</th>
            <th scope="col">My URLs</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Total Visits</th>
            <th scope="col">Unique Visits</th>
          </p>

        </tr>

      </thead>

      <tbody>

        <% var count = 0; %>
        <% for(var key in urls) {%>

        <tr class="text-center">

          <td><%= count += 1 %></td>
          <td><a href="/u/<%=key%>"><%=key%></a> : <%=urls[key]["longURL"]%></td>

          <td>
            <form method="GET" action="/urls/<%=key%>">
              <button type="submit" class="btn btn-dark btn-block">Edit</button>
            </form>
          </td>

          <td>
            <form method="POST" action="/urls/<%=key%>/delete">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>

          <td>
            <p class="btn btn-dark"  ><%=urls[key]["visits"]%></p>
              
            
          </td>
          <td>
            <p class="btn btn-dark"  ><%=urls[key]["uniqueVisits"]%></p>
              
            
          </td>

        </tr>

        <% }%>

      </tbody>

    </table>
<%}%>
  </div>

</body>

</html>